*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: teal;
}
.box{
    width: 500px;
    height: 500px;
    background-color: brown;
    position: absolute;
}


.ball {
    height: 3rem;  
    width: 3rem;   
    border-radius: 50%;  
    position: relative;
    
    
}

